body{
	background-color: rgba(30, 30, 30, 1.0);
	color: rgba(204, 4, 4, 1.0);
}

.sett-inp{
	background-color: rgba(15, 15, 15, 1.0);
	color: rgba(204, 4, 4, 1.0);
	font-size: 20px;
	width: 40vw;
	margin-bottom: 6px;
	border-color: rgba(204, 4, 4, 1.0);
}

.menu{
	display:inline-block;
	width: 45vw;
	font-size: 20px;
	height: 16vh;
}

.sec-menu-result{
	overflow-x: hiden; /* прокрутка по горизонтали */
	overflow-y: auto; /* прокрутка по вертикали */
}

.weapon{
	flex-flow: column nowrap
}

@media (max-width: 48rem){
	.menu{
		height: 50vw;
	}
}
