body{
	background-color: rgba(15, 15, 15, 1.0);
}

.sett-inp{
	font-size: 20px;
	width: 45vw;
	margin-bottom: 4px;
}

.menu{
	display:inline-block;
	width: 50vw;
	font-size: 20px;
}
.weapon{
	flex-flow: column nowrap
}
